@page
@model CreateModel

@{
    ViewData["Title"] = "Sales Orders";
}

<h4 class="align-text-top text-muted m-1">@ViewData["Title"] - Create</h4>
<hr />

<div class="container pagetop p-3 m-2">
    <p>
        <a asp-area="Demo" asp-page="/Home/Index"><i class="bi bi-house-up" title="Demo Home"></i></a>&nbsp;&nbsp;&nbsp;
        <a asp-area="Demo" asp-page="/Client/SalesOrders/Index"><i class="bi bi-arrow-return-left" title="SalesOrders Main"></i></a>&nbsp;&nbsp;&nbsp;
        <a asp-area="Demo" asp-page="/Client/SalesOrders/Create"><i class="bi bi-plus-square" title="Create Sales Order"></i></a>

        <img src="~/img/sales-order-icon-24.jpg" class="img-fluid" style="float:right;height:auto; width:100px;" title="Sales Orders" />
    </p>
    <br/>
</div>
<br />

<div class="container pagemiddle p-3 m-1">
    <span asp-validation-Summary="All" class="text-danger"></span>
    <form method="post">
        <input type="hidden" asp-for="SalesOrder.Date" />
        <input type="hidden" asp-for="SalesOrder.CurrencyID" />
        <input type="hidden" asp-for="SalesOrder.CustomerID" />
        <input type="hidden" asp-for="SalesOrder.ShipmentDate" />
        <input type="hidden" asp-for="SalesOrder.LastModified" />
@*Top Row*@
        <div class="row p-1">
            <div class="col-auto col-md-4">
                <label asp-for="SalesOrder.Date" class="control-label"></label>
                <div class="input-group date" id="datepicker">
                    <input type="text" asp-for="SalesOrder.Date" class="form-control" readonly />
                    <span class="input-group-append">
                        <span class="input-group-text bg-light d-block">
                            <i class="bi bi-calendar3"></i>
                        </span>
                    </span>
                </div>
            </div>
        </div>
@*Row Two*@
        <div class="row p-1">
            <div class="col-auto col-md-4">
                <label asp-for="SalesOrder.Status" class="control-label"></label>
                <div class="input-group">
                    <input type="text" asp-for="SalesOrder.Status" value="New" class="form-control dark" readonly />
                    <span class="input-group-append">
                        <span class="input-group-text bg-light d-block">
                            <i class="bi bi-list-check"></i>
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-auto col-md-4">
                <label asp-for="SalesOrder.CustomerName" class="control-label"></label>
                <div class="input-group">
                    <select asp-for="SalesOrder.CustomerName"
                            asp-items=@Model.Selected_SalesOrder_Customers class="form-select select"></select>
                    <span class="input-group-append">   
                        <span class="input-group-text bg-light d-block">
                            <i class="bi bi-clipboard2-check"></i>
                        </span>
                    </span>
                </div>
            </div>
        </div>    
@*Row Three*@
        <div class="row p-1">
            <div class="col-auto col-md-4">
                <label name="InventoryID" class="control-label">InventoryID</label>
                <div class="input-group">
                    <input asp-for="InventoryID" class="form-control" readonly />
                    <span class="input-group-append">
                        <span class="input-group-text bg-light d-block">
                            <i class="bi bi-cart4"></i>
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-auto col-md-4">
                <label asp-for="SalesOrder.OrderedQty" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="SalesOrder.OrderedQty" class="form-control" />
                    <span class="input-group-append">
                        <span class="input-group-text bg-light d-block">
                            <i class="bi bi-cart4"></i>
                        </span>
                    </span>
                </div>
                <span asp-validation-for="SalesOrder.OrderedQty" class="text-danger"></span>
            </div>
        </div>
@*Row Four*@
        <div class="row p-1">
            <div class="col-auto col-md-4">
                <label asp-for="SalesOrder.OrderType" class="control-label"></label>
                <div class="input-group">
                    <select asp-for="SalesOrder.OrderType" asp-items=@Model.Selected_SalesOrder_Types class="form-select select"><option selected="">Select a Type</option></select>
                    <span class="input-group-append">
                        <span class="input-group-text bg-light d-block">
                            <i class="bi bi-clipboard2-check"></i>
                        </span>
                    </span>
                </div>
                <span asp-validation-for="SalesOrder.OrderType" class="text-danger"></span>
            </div>
            <div class="col-auto col-md-4">
                <label asp-for="SalesOrder.ShipmentDate" class="control-label"></label>
                <div class="input-group date" id="sd-datepicker">
                    <input type="text" asp-for="SalesOrder.ShipmentDate" class="form-control"  />
                    <span class="input-group-append">
                        <span class="input-group-text bg-light d-block">
                            <i class="bi bi-truck"></i>
                        </span>
                    </span>
                </div>
                <span asp-validation-for="SalesOrder.ShipmentDate" class="text-danger"></span>
            </div>
        </div>
        <br />
        <input type="submit" value="Create" class="btn btn-success" /> &nbsp;|&nbsp;
        <input type="submit" asp-page="./Details" value="Cancel" class="btn btn-warning" />
    </form>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.10.0/dist/js/bootstrap-datepicker.min.js" integrity="sha256-iZp9dyOMJKPFdn1UMra9ZMhPZAlSGZUzdhqqEgijE+Q=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="\js\datePicker.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



