<p class="p-4">
    <a class="btn btn-primary" asp-area="" asp-page="/Index"><i class="bi bi-house"></i> Home &raquo;</a>&nbsp;&nbsp;&nbsp;
    <a class="btn btn-primary" asp-area="Demo" asp-page="/Credentials/Index"><i class="bi bi-lock"></i>Setup &raquo;</a>&nbsp;
@*    @Html.DisplayFor(model => model.SiteUrl)
*@
</p>
