@page
@model AboutModel
@{
    ViewData["Title"] = "About RevisionTwo";
}

<partial name="/Pages/Banner.cshtml" />

<hr/>

<div class="container p-2 mb-2" style="width:75vw; font-size:1.1rem">
    <h5>Revision Two</h5>
    <p class="text-wrap">A fictional company used to demonstrate Acumatica Cloud ERP OpenAPI capabilities. 
        The company has multiple lines of business, a few branches, a European based entity, 
        and several employee personas to demonstrate the full capabilities of Acumatica Cloud ERP.</p>

    <h5>Acumatica Cloud ERP Demo Data</h5>
    <p class="text-wrap">
        RevisionTwo ERP data is maintained on the <a href="https://portal.acumatica.com" target="_blank">Acumatica Partner Portal.   
            </a>You must be an authorized partner to access this site.
    </p>
    <p class="text-wrap">
        The demo data is updated monthly using SnapShots so you always current data to demonstrate. 
        As new upgrades (R1 & R2) are released, the snapshot will be updated so you can restore the demo data into that latest version of Acumatica ERP 
        that is available for download on the partner portal.
    </p>
</div>
