@page
@model EditModel


@{
    ViewData ["Title"] = "credential - Edit";
}

<h4 class="align-text-top text-muted m-2">@ViewData["Title"]</h4>
<hr />

<div class="container-fluid p-1 m-2" style="background-color:#f4f4f4; box-shadow: 5px 5px 10px 5px #e1e1e1;">
    <p>
        <a asp-area="Demo" asp-page="/Home/Index"><i class="bi bi-house-up" title="Demo Home"></i></a>&nbsp;&nbsp;&nbsp;
        <a asp-area="Demo" asp-page="/credential/Index"><i class="bi bi-arrow-return-left" title="credential Setup"></i></a>&nbsp;&nbsp;&nbsp;
        <a asp-area="Demo" asp-page="/credential/Create"><i class="bi bi-plus-square" title="Create Credential"></i></a>

        <img src="~/img/setup.png" class="img-fluid" style="float:right;height:auto; width:70px;" title="Setup" />
    </p>
</div>
<hr/>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="credential.Id" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="credential.IsChecked" />
                </label>
            </div>
            <div class="form-group">
                <label asp-for="credential.SiteUrl" class="control-label"></label>
                <input asp-for="credential.SiteUrl" class="form-control" />
                <span asp-validation-for="credential.SiteUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="credential.UserName" class="control-label"></label>
                <input asp-for="credential.UserName" class="form-control" />
                <span asp-validation-for="credential.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="credential.Password" class="control-label"></label>
                <input asp-for="credential.Password" class="form-control" />
                <span asp-validation-for="credential.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="credential.Tenant" class="control-label"></label>
                <input asp-for="credential.Tenant" class="form-control" />
                <span asp-validation-for="credential.Tenant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="credential.Branch" class="control-label"></label>
                <input asp-for="credential.Branch" class="form-control" />
                <span asp-validation-for="credential.Branch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="credential.Locale" class="control-label"></label>
                <input asp-for="credential.Locale" class="form-control" />
                <span asp-validation-for="credential.Locale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br/>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
